{% extends "./layout.html" %}

{% block head %}
	<title>{{ movie.title }}</title>
{% endblock %}

{% block content %}
	<!-- display all attributes of movie-->
	<h1>{{ movie.title }}</h1>
	<div class="row">
		<div class="col-md-12">
			<img src="{{movie.image}}">
		</div>
		<div>
			<h3>{{ movie.title }}</h3>
			<p>Year: {{ movie.year }}</p>
			<p>Director: {{ movie.director }}</p>
			<p>Genre: {{ movie.genre }}</p>
			<p>Rating: {{ movie.rating }}/10</p>
			<p><br>Description:<br>{{ movie.description }}</p>
		</div>
	</div>
{% endblock %}