{% extends './layout.html' %}
{% load static %}

{% block head %}
<title>Login</title>
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/icon type">
<style>
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
</style>
{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}
{% endblock %}

{% block body %}
<h2 style="text-align:center;"> Login </h2>
<div class="center" style="max-width: 50%">
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="center"><input class="btn btn-outline-primary" type="submit" value="Login"></div>
    </form>
</div>
{% endblock %}